{% extends 'base.html' %}
{% block title %}
	<title>Sobre</title>
{% endblock %}

{% block content %}
<div id="content_div_recommender_form" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
	<div class="col-md-10 mx-auto">
		<h2 class="display-4 font-weight-normal pb-4">About</h2>
		<p class="lead font-weight-bold ">The participants responsible for the development of the work were:</p>

		<p class="lead font-weight-normal "> 
			<ul>
				<li class="lead font-weight-normal">
					<b>Supervisor teacher:</b> Danilo Medeiros Eler - <a target="_blank" href="http://lattes.cnpq.br/0840226903480590">Lattes</a> - <a target="_blank" href="https://daniloeler.github.io/">Site</a>
				</li>

				<li class="lead font-weight-normal">
					<b>Student:</b> Marcelo Eduardo R. da Silva Filho - <a target="_blank" href="http://lattes.cnpq.br/4824401768118042">Lattes</a> - <a target="_blank" href="https://github.com/SeaSkyThe">GitHub</a>
				</li>
			</ul>
		</p>
		

		
	</div>

	

	<!-- icones do lado direito -->
	

	<!-- <i class="fa-solid fa-film "></i>
	<i class="fa-solid fa-film fa-film-2 "></i> -->

	

</div>


{% endblock %}