{% extends 'base.html' %}
{% block title %}
	<title>Recommender System - Homepage</title>
{% endblock %}

{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
	<div class="col-md-5 p-lg-5 mx-auto my-5">
		<h1 class="display-4 font-weight-normal">Sistemas de Recomendação</h1>
		<p class="lead font-weight-normal">Sistemas de Recomendação baseados em Técnicas e modelos de Machine Learning, é o título dado ao trabalho  desenvolvido pelo aluno Marcelo Eduardo Rodrigues da Silva Filho pela Universidade Estadual Paulista (UNESP), onde um dos três modelos desenvolvidos está aqui apresentada para uso.</p>
		<a id="btn_redirecionar_pag_recomendacoes"class="btn btn-outline-secondary" href="{{ url_for('recommender_form_page') }}">Utilizar Modelo de Recomendação de Filmes</a>
	</div>

	<!-- icones do lado direito -->
	
	<img id="img-dir" class="film-img" src="static/icons/film.svg" onerror="this.onerror=null; this.src='static/icons/film.svg'">
	<img id="img-esq" class="film-img film-img-2" src="static/icons/film.svg" onerror="this.onerror=null; this.src='static/icons/film.svg'">

	<!-- <i class="fa-solid fa-film "></i>
	<i class="fa-solid fa-film fa-film-2 "></i> -->

	

</div>


{% endblock %}