{% extends 'base.html' %}
<!-- THIS IS THE PAGE THAT SHOWS THE FORM -->
{% block title %}
    <title>Recommender System - Form</title>
{% endblock %}

{% block content %}
    <!-- Form responsavel por receber inputs -->

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <h2>Recomendação de Filmes</h2>
        <p>Escolha um filme que você gosta:</p>

        <form action="{{url_for('recommender_results_page')}}" method="post">
            <input id="movies_datalist" name="movie" placeholder="Spider-Man 2" required="required" />
            <!-- <datalist id="movies_datalist">
                
            </datalist> -->
            <button type="submit" class="btn btn-outline-primary btn-large ">Gerar recomendações</button>

        </form>    
        <br>
        <br>
    </div>

{% endblock %}