.container {
  max-width: 960px;
}

/*
 * HEADER TRANSLUCIDO
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * ICONES DE FILMINHO
 */

#img-dir{

}

.film-img {
    opacity: 0.9;
    position: absolute;
    right: 5%;
    bottom: -20%;
    width: 25vh;
    height: 100vh;
    /*background-color: #333;*/
    border-radius: 21px;
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
}

.film-img::before {
    position: absolute;
    top: 10%;
    right: 1vh;
    bottom: 10%;
    left: 1vh;
    /*background-color: rgba(255, 255, 255, .1);*/
    border-radius: 5px;
}

.film-img-2 {
    opacity: 0.3;
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
  /*background-color: #e5e5e5;*/
}


/*
 * Outros
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }



.hover_img a {
  position: relative;
  text-decoration: none;
}
.hover_img a span {
  position: fixed;
  display:  none;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hover_img a:hover span {
  display: block;
  z-index: 99;
}

/*2:3 proporção*/
#cover_img{
  height: 54vh;
  width: 36vh;
}


/*CONTENT DIV FROM RECOMMENDER FORM PAGE*/
#content_div_recommender_form{
  display: flex;
  min-height: 61vh;
  flex-direction: column;
  flex: 1;
}


/*AUTOCOMPLETE*/

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 16em;   
    padding: 0.3em 0.5em;
    margin: 0 0 1em 2.5em;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 0.1em;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    -webkit-box-shadow: 0 0.25em 0.42em rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0.25em 0.42em rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.25em 0.42em rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 0.3em;
    *border-bottom-width: 0.3em;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 0.3em 1.5em;
    clear: both;
    font-weight: normal;
    line-height: 1.8em;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}


/*BOTAO FORM DE GERAR RECOMENDACOES*/
#botao_recomendacoes{
    background-color: #0088cc;
    border-color: #0088cc;
}

#botao_recomendacoes:hover{
    background-color: #ffffff;
    color: #0088cc;
    border-color: #0088cc;
}

#btn_redirecionar_pag_recomendacoes{
    background-color: #0088cc;
    border-color: #0088cc;
    color: #ffffff;
}

#btn_redirecionar_pag_recomendacoes:hover{
    background-color: #ffffff;
    border-color: #0088cc;
    color: #0088cc;
}